*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.landing{
    position: relative;
    width: 1261px;
    height: 11519px;
    background-color: #1B1B1B;
    
}
nav{
    background: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0,0.1));
    position: absolute;

    
}
.menu{
    content: "";
    border: 2px solid white;
    height: 8vh;
    width: 90vh;
    margin-right: -15vh;
    margin-top: 17px;
    font-size: 20px;
    border: none;
}
.menu a{
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    padding: 40px;
    opacity: 1;
}
.menu a:hover{
    color: white;
}
.search{
    height: 35px;
    width: 18%;
    margin-right:60px;
    background: rgba(255, 255, 255, 0.1); 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 2px solid white;
    border-radius: 45px;
}
.search img{
    margin-left: 7px;
}
.searchinput{
    background: rgba(255, 255, 255, 0.1); 
    color:white;
    border: 2px solid white;
    height: 30px;
    margin-left:0px;
    width: -400px;
    border: none;
    
    
}
::placeholder{
    color: white;
}

.searchinput:focus {
    outline: none;
}

.bighero{
    
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.4)),url('img/hero.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;width: 1422px;
    height:700px;
    width: 1261px; 
    left: 0px;
    top: 0px;
}
.content{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 700px;
height: 327px;
left: 200px;
top: 125px;
border: 2px solid red;
border: none;
}
.group{
    position: static;
width: 343px;
height: 22px;
left: 0px;
top: 0px;
flex: none;
order: 0;
flex-grow: 0;
margin: 32px 0px;
border: 2px solid yellow;
border: none;
}

.rectangle{
    position: absolute;
width: 72px;
height: 2px;
left: 0px;
top: 10px;

background: #D93337;
border: 2px solid red;
}

.travel{
    position: absolute;
width: 239px;
height: 22px;
left: 104px;
top: 0px;

font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 22px;
/* identical to box height */

letter-spacing: 6px;
text-transform: uppercase;

color: #D93337;
}

.explore{
    position: static;
width: 760.64px;
height: 273px;
left: 0px;
top: -50px;

font-family: Montserrat;
font-style: normal;
font-weight: 900;
font-size: 70px;
line-height: 91px;
color: #FFFFFF;
flex: none;
order: 1;
flex-grow: 0;
margin: -35px 0px;
}

.button{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 25px 55px;
position: absolute;
width: 286px;
height: 60px;
left: 200px;
top: 460px;
background: rgba(255, 255, 255, 0.1);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border: 2px solid white;
backdrop-filter: blur(5px);
border-radius: 45px;
}

.email{
    position: static;
left: 72.38%;
right: 19.23%;
top: 33.78%;
bottom: 33.78%;
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 10px;

}

.enquire{
    position: static;
width: 142px;
height: 24px;
left: 55px;
top: 25px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;
text-align: right;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
background: transparent;
text-decoration: none;
border: none;
}
.enquire:focus{
    outline: none;
}

.slider{
    position: absolute;
width: 379px;
height: 91px;
left: 0px;
top: 70px;
border: 2px solid red;
border: none;
}

/* .indicator{
    position: absolute;
    border: 2px solid #ffff;
left: 19%;
top: -70%;
bottom: 0%;
background: #FFFFFF;
border-radius: 0px;
transform: rotate(90deg);

} */

/* .slideBG{
    position: absolute;
    border: 2px solid #ffff;
left: 60%;
top: 2.64%;
bottom: -50.12%;
background: #FFFFFF;
opacity: 0.4;
border-radius: 10px;
transform: rotate(-90deg);
} */

.line1{
    margin-top: 3px;
    height: 0px;
    width: 375px;
    border: 2px solid rgb(85, 84, 84);
}
.line{
    margin-top: 10px;
    height: 0px;
    width: 100px;
    margin-left: -275px;
    margin-top: -45px;
    border: 2px solid #FFFFFF;
    z-index: +2;
}
.slide1{
    display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;

position: absolute;
left: 83.91%;
right: 4.49%;
top: 34.07%;
bottom: 10.99%;

opacity: 0.4;
border: 2px solid rgb(234, 0, 255);
border:none;
}
.slide2{
    display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;

position: absolute;
left: 60.82%;
right: 24.67%;
top: 34.07%;
bottom: 10.99%;

opacity: 0.4;
border: 2px solid rgb(234, 0, 255);
border:none;
}

.slide3{
    display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;

position: absolute;
left: 32.85%;
right: 48.94%;
top: 34.07%;
bottom: 10.99%;
border: 2px solid rgb(234, 0, 255);
border:none;
}

.slide4{
    display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;

position: absolute;
left: 4.49%;
right: 78.1%;
top: 34.07%;
bottom: 10.99%;
border: 2px solid rgb(234, 0, 255);
border:none;

}
.count1{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 15px;

position: static;
width: 44px;
height: 25px;
left: 0px;
top: 0px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
backdrop-filter: blur(5px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 45px;
border: 2px solid white;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 7px 0px;
}
.count2{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 15px;

position: static;
width: 43px;
height: 25px;
left: 12px;
top: 0px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
backdrop-filter: blur(5px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 45px;
border: 2px solid white;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 7px 0px;

}
.count3{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 15px;

position: static;
width: 43px;
height: 25px;
left: 26px;
top: 0px;

opacity: 0.4;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
backdrop-filter: blur(5px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 45px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 7px 0px;
border: 2px solid white;
}
.count4{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 15px;

position: static;
left: 37.88%;
right: 0%;
top: 0%;
bottom: 50%;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
backdrop-filter: blur(5px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 45px;

/* Inside auto layout */

flex: none;
border: 2px solid white;
order: 0;
flex-grow: 0;
margin: 7px 0px;
}

.count1 p{
    position: static;
width: 14px;
height: 12px;
left: 15px;
top: 6.5px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 12px;
text-align: right;

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}
.count2 p{
    position: static;
width: 13px;
height: 12px;
left: 15px;
top: 6.5px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 12px;
text-align: right;

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}
.count3 p{
    position: static;
width: 13px;
height: 12px;
left: 15px;
top: 6.5px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 12px;
text-align: right;

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}
.count4 p{
    position: static;
width: 11px;
height: 12px;
left: 15px;
top: 6.5px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 12px;
text-align: right;

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}

.slide1 h1{
    position: static;
width: 38px;
height: 18px;
left: 6px;
top: 32px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 18px;
text-align: right;

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 7px 0px;
}
.slide2 h1{
    position: static;
    width: 55px;
    height: 18px;
    left: 0px;
    top: 32px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 7px 0px;
}
.slide3 h1{
    position: static;
    width: 69px;
    height: 18px;
    left: 0px;
    top: 32px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    
    color: #FFFFFF;
    
    opacity: 0.4;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 7px 0px;
}
.slide4 h1{
    position: static;
    left: 0%;
    right: 0%;
    top: 64%;
    bottom: 0%;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 7px 0px;
}

.scroll{
    position: absolute;
width: 62px;
height: 120px;
left: 620px;
top: 620px;
border: 2px solid rgb(255, 0, 43);
z-index: +2;
border: none;
}
.scrool img{
    position: absolute;
left: 19.35%;
right: 19.69%;
top: 0.04%;
bottom: 59%;

background: #FFFFFF;

}

.scroll h1{
    position: absolute;
width: 62px;
height: 18px;
margin-left: -13px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
text-align: right;

color: #FFFFFF;
}
.vector{
    
position: absolute;
width: 0px;
height: 49.02px;
margin-left: 20px;
margin-top: 25px;
border: 1px solid #FFFFFF;
border-radius: 20px;
transform: rotate(-180deg);
}

/* .popular{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
width: 1064.24px;
height: 303.39px;
left: 163.88px;
top: 750px;
border: 2px solid white;
}

.popular h1{
    position: static;
width: 606px;
height: 78px;
left: 300px;
top: 7888px;


font-family: Montserrat;
font-style: normal;
font-weight: 900;
font-size: 64px;
line-height: 10px;


color: #FFFFFF;


flex: none;
order: 0;
flex-grow: 0;
margin: 30px 0px;
} */
/* .row1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    
    position: static;
    width: 1064.24px;
    height: 54.2px;
    left: 0px;
    top: 104.2px;
    
   
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 50px 0px;
}
.row2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    
    position: static;
    width: 800.93px;
    height: 54.2px;
    left: 131.65px;
    top: 0px;
    
    
   
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 50px 0px;
}
.search1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    position: static;
    width: 200px;
    height: 40px;
    left: -600px;
    top: 0px;
    
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    
    
    border-radius: 45px;
    
 
    
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 10px;
}
.search2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    position: static;
    width: 200px;
    height: 40px;
    left: 603.62px;
    top: 0px;
    
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
  
    border-radius: 45px;
    
  
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 70px;    
}

.search3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: static;
    width: 200px;
    height: 40px;
    left: 311.31px;
    top: 0px;
    
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
   
    border-radius: 45px;
   
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 70px;   
}

.search4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
    
    position: static;
    width: 200px;
    height: 40px;
    left: 0px;
    top: 0px;
    
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    
    border-radius: 45px;
    
   
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px -50px;   
}

.search5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
    position: static;
    width: 200px;
    height: 40px;
    left: 582.62px;
    top: 0px;
    
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
   
    border-radius: 45px;
    
   
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 75px;  
}

.search6{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
    
    position: static;
    width: 200px;
    height: 40px;
    left: 0px;
    top: 0px;
    
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
   
    border-radius: 45px;
    
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 75px;  
}

.search7{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

position: static;
width: 200px;
    height: 40px;
left: 0px;
top: 0px;

background: rgba(255, 255, 255, 0.1);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(5px);

border-radius: 45px;


flex: none;
order: 0;
flex-grow: 0;
margin: 0px 75px;
} */

